.devcontainer/.dotnet/*
.devcontainer/.npm/*
.devcontainer/.vscode-server/*
.devcontainer/.dotnet/*
.devcontainer/.cache/*
.devcontainer/.gnupg/*
.devcontainer/.ssh/*
.node_repl_history
.env
.bash_history